* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/UarDS2M.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

header .text {
  position: relative;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text h2 {
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 5.3rem;
  text-transform: uppercase;
}

.text button {
  width: 145px;
  height: 50px;
  background-color: #b9dfdf;
  font-family: "Oswald", sans-serif;
  color: black;
  outline-width: none;
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.text button:hover {
  background-color: #303537;
  color: white;
}

.section2 {
  width: 100%;
  height: 100%;
}

.section2 .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
}

.section2 .text {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section2 .text h2 {
  color: #000;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
}

.section2 .text img {
  width: 150px;
  height: 140px;
}

.section2 p {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

.section2 .img2 {
  width: 950px;
  height: 650px;
  -webkit-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
}

.section3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3 .text {
  width: 50%;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section3 h2 {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
}

.section3 p {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.section3 .gallery {
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.section3 .gallery img {
  width: 380px;
  height: 300px;
  -webkit-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
}

.section4 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4 .text {
  width: 50%;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section4 h2 {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
}

.section4 p {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  text-indent: 15px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 300px;
  gap: 150px;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.div-toleman-item {
  height: 400px;
  width: 270px;
  text-align: center;
}

.div-toleman {
  background-image: url("images/0b2a1518-8ba6-4586-ae2e-f92610aa780f.jpg");
  background-size: cover;
  width: 470px;
  height: 330px;
  transition: 0.4s;
  -webkit-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
}

.button10 {
  position: relative;
  top: 100%;
  background-color: #b9dfdf;
  font-family: "Oswald", sans-serif;
  color: black;
  outline-width: none;
  font-size: 18px;
  width: 470px;
  height: 70px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button10:hover {
  background-color: #303537;
  color: white;
}

.div-lotus-item {
  height: 400px;
  width: 270px;
  text-align: center;
}

.div-lotus {
  background-image: url("images/f8ec612e-fdb2-40ca-bba5-6b808c44019a.jpg");
  background-size: cover;
  width: 470px;
  height: 330px;
  transition: 0.4s;
  -webkit-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
}

.button11 {
  position: relative;
  top: 100%;
  background-color: #b9dfdf;
  font-family: "Oswald", sans-serif;
  color: black;
  outline-width: none;
  font-size: 18px;
  width: 470px;
  height: 70px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.button11:hover {
  background-color: #303537;
  color: white;
}

.div-mclaren-item {
  height: 400px;
  width: 270px;
  text-align: center;
}

.div-mclaren {
  background-image: url("images/4ca6478d-ec7f-4de8-8ff5-09356c9c9af0.jpg");
  background-size: cover;
  width: 470px;
  height: 330px;
  transition: 0.4s;
  -webkit-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
}

.button12 {
  position: relative;
  top: 100%;
  background-color: #b9dfdf;
  font-family: "Oswald", sans-serif;
  color: black;
  outline-width: none;
  font-size: 18px;
  width: 470px;
  height: 70px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.button12:hover {
  background-color: #303537;
  color: white;
}

.div-williams-item {
  height: 400px;
  width: 270px;
  text-align: center;
  margin: 0 auto;
}

.div-williams {
  background-image: url("images/39e37dff-3018-4153-86ee-3841c90a1ebe.jpg");
  background-size: cover;
  width: 470px;
  height: 330px;
  transition: 0.4s;
  -webkit-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
}

.button13 {
  position: relative;
  top: 100%;
  background-color: #b9dfdf;
  font-family: "Oswald", sans-serif;
  color: black;
  outline-width: none;
  font-size: 18px;
  width: 470px;
  height: 70px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.button13:hover {
  background-color: #303537;
  color: white;
}

footer {
  width: 100%;
  background-color: #23354d;
  height: 40vh;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

footer .text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

footer button {
  width: 145px;
  height: 50px;
  background-color: #b9dfdf;
  font-family: "Oswald", sans-serif;
  color: black;
  outline-width: none;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

footer button:hover {
  background-color: #b9dfdf;
  color: white;
}

footer .text h3 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 3rem;
}

.section6 {
  width: 100%;
  height: 20%;
  background-color: #333333;
}

@media only screen and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .text {
    position: relative;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2 .container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2 .text {
    width: 45%;
  }

  .section2 .img2 {
    background-size: contain;
  }

  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section3 .text {
    text-align: justify;
    width: 85%;
  }

  .section3 .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .section4 .text {
    width: 85%;
  }

  .section4 .first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .section4 .gallery-container {
    margin-top: 220px;
    gap: 100px;
  }

  footer .text h3 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .text {
    position: relative;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2 .container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2 .text {
    width: 45%;
  }

  .section2 .img2 {
    background-size: contain;
  }

  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section3 .text {
    text-align: justify;
    width: 85%;
  }

  .section3 .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .section4 .text {
    width: 85%;
  }

  .section4 .first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .section4 .gallery-container {
    margin-top: 220px;
    gap: 100px;
  }

  footer .text h3 {
    font-size: 2.2rem;
  }
}
